:host {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.uc-checkbox {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--foreground-color);
  border: 2px solid
    var(--uc-checkbox-border-color, oklch(from black l c h / 0.2));
  border-radius: 0.5rem;
  font-size: 1.25rem;
  background-color: var(
    --uc-checkbox-background-color,
    var(--background-color)
  );
  transition: all 0.2s ease-in-out;
}

.uc-checkbox:hover {
  border-color: var(--uc-checkbox-selected-color, var(--secondary-color));
}

.uc-checkbox.selected {
  color: var(--inverse-foreground-color);
  background-color: var(--uc-checkbox-selected-color, var(--secondary-color));
  border: 2px solid transparent;
}

label {
  user-select: none;
}
