.pill {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;

  &--info {
    background-color: var(--background-color-90);
    color: var(--foreground-color);
  }

  &--valid {
    background-color: oklch(from var(--success-color) l c h / 0.2);
    color: var(--success-color);
  }

  &--error {
    background-color: oklch(from var(--error-color) l c h / 0.2);
    color: var(--error-color);
  }
}
