:host {
  --uc-table-pill-info-background-resolved: var(--uc-table-pill-info-background, var(--background-color-90));
  --uc-table-pill-info-color-resolved: var(--uc-table-pill-info-color, var(--foreground-color));
  --uc-table-pill-valid-background-resolved: var(--uc-table-pill-valid-background, oklch(from var(--success-color) l c h / 0.2));
  --uc-table-pill-valid-color-resolved: var(--uc-table-pill-valid-color, var(--success-color));
  --uc-table-pill-error-background-resolved: var(--uc-table-pill-error-background, oklch(from var(--error-color) l c h / 0.2));
  --uc-table-pill-error-color-resolved: var(--uc-table-pill-error-color, var(--error-color));
}

.pill {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;

  &.pill--info {
    background-color: var(--uc-table-pill-info-background-resolved);
    color: var(--uc-table-pill-info-color-resolved);
  }

  &.pill--valid {
    background-color: var(--uc-table-pill-valid-background-resolved);
    color: var(--uc-table-pill-valid-color-resolved);
  }

  &.pill--error {
    background-color: var(--uc-table-pill-error-background-resolved);
    color: var(--uc-table-pill-error-color-resolved);
  }
}
