:host {
  display: inline-flex;
}
.uc-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  cursor: pointer;
  font-weight: 700;
  transition:
    background 0.3s,
    border 0.3s,
    color 0.3s;
  background-color: var(--primary-color);
  color: var(--inverse-foreground-color);
  padding-block: 0.75rem;
  padding-inline: 2rem;
  border-radius: 0.75rem;
}

.uc-button.uc-secondary {
  /* background-color: hsl(from var(--primary-color) h s l / 0.2); */
  background-color: transparent;
  color: var(--font-color);
  border: 1px solid hsl(from var(--foreground-color) h s l / 0.3);
}

.uc-button.uc-secondary:hover {
  border: 1px solid transparent;
  background-color: hsl(from var(--primary-color) h s l / 0.3);
  color: var(--font-color);
}

.uc-button.uc-error {
  background-color: var(--error-color);
  color: var(--inverse-foreground-color);
}

.uc-button.uc-error:hover {
  background-color: hsl(from var(--error-color) h s l / 0.9);
}

.uc-button:hover {
  background-color: hsl(from var(--primary-color) calc(h * 1) calc(s * 1) calc(l * 0.9));
}

.uc-button:disabled,
.uc-button.uc-disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.uc-button:disabled:hover,
.uc-button.uc-disabled:hover {
  background-color: var(--primary-color);
}

.uc-button.uc-secondary:disabled,
.uc-button.uc-secondary.uc-disabled {
  background-color: transparent;
  border: 1px solid hsl(from var(--foreground-color) h s l / 0.3);
  color: var(--font-color);
}

.uc-button.uc-error:disabled,
.uc-button.uc-error.uc-disabled {
  background-color: var(--error-color);
  color: var(--inverse-foreground-color);
}

.uc-button.uc-secondary:disabled:hover,
.uc-button.uc-secondary.uc-disabled:hover {
  background-color: transparent;
}
