:host {
  --uc-arrow-button-primary-color: var(--primary-color);
  --uc-arrow-button-secondary-color: var(--secondary-color);
  --uc-arrow-button-font-weight: 700;
  --uc-arrow-button-padding-block: 0.75rem;
  --uc-arrow-button-padding-inline: 2rem;

  display: flex;
}

.uc-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  font-weight: var(--uc-arrow-button-font-weight);
  transition: color 0.3s;
}

.primary-color {
  color: var(--uc-arrow-button-primary-color);
}

.secondary-color {
  color: var(--uc-arrow-button-secondary-color);
}

.uc-button.primary-color:hover {
  color: oklch(from var(--uc-arrow-button-primary-color) calc(l * 0.8) c h);
}

.uc-button.secondary-color:hover {
  color: oklch(from var(--uc-arrow-button-secondary-color) calc(l * 1.3) c h);
}

.uc-button--padded {
  padding-block: var(--uc-arrow-button-padding-block);
  padding-inline: var(--uc-arrow-button-padding-inline);
}
