:host {
  display: flex;
  width: 100%;
}

.uc-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  cursor: pointer;
  font-weight: 700;
  transition: color 0.3s;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.uc-button.primary-color:hover {
  color: hsl(from var(--primary-color) h s calc(l * 0.8));
}

.uc-button.secondary-color:hover {
  color: hsl(from var(--secondary-color) h s calc(l * 1.3));
}

.uc-button--padded {
  padding-block: 0.75rem;
  padding-inline: 2rem;
}
