:host {
  display: flex;
}

.uc-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  font-weight: 700;
  transition: color 0.3s;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.uc-button.primary-color:hover {
  color: oklch(from var(--primary-color) calc(l * 0.8) c h);
}

.uc-button.secondary-color:hover {
  color: oklch(from var(--secondary-color) calc(l * 1.3) c h);
}

.uc-button--padded {
  padding-block: 0.75rem;
  padding-inline: 2rem;
}
