<div class="accordion-item">
  <button
    class="accordion-header"
    type="button"
    (click)="toggleOpen()"
    [attr.aria-expanded]="isOpen()"
    [attr.aria-controls]="panelId"
    [attr.id]="triggerId"
  >
    <div class="accordion-header-content">
      @if (headerTemplate()) {
        <ng-container *ngTemplateOutlet="headerTemplate()"></ng-container>
      } @else {
        <span class="accordion-title">{{ title() }}</span>
      }
    </div>
    <div class="accordion-icon" [class.open]="isOpen()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <polyline points="6 9 12 15 18 9"></polyline>
      </svg>
    </div>
  </button>
  <div
    class="accordion-content"
    [class.open]="isOpen()"
    [attr.id]="panelId"
    role="region"
    [attr.aria-labelledby]="triggerId"
  >
    <div class="accordion-content-inner">
      @if (contentTemplate()) {
        <ng-container *ngTemplateOutlet="contentTemplate()"></ng-container>
      }
    </div>
  </div>
</div>
